<div class="view-container flex">
  <nav class="navbar login-navbar">
    <a class="back-button white-text" href=<%= url_for(:root) %>>&larr;</a>
    <span class="nav-header">PASSWORD RESET</span>
    <div>
      <input class="login-button white-text" type="submit" name="commit" value="SEND" data-disable-with="SEND"
        form="new_user">
    </div>
  </nav>
  <div class="content-list flex">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "list-item flex form" }) do |f| %>
      <%= render "devise/shared/error_messages" , resource: resource %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , required: true, placeholder: "Email", class: "form-input" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
