<div>
  <h2>Add a new Category</h2>
<%= form_with(model: @cat) do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.label "Icon" %>
  <%= f.file_field :icon %>
  <%= f.submit 'Add a new category' %>
<% end %>
</div>
