<div class="view-container flex">
  <nav class="navbar">
    <a class="back-button white-text" href=<%= url_for(cats_path) %>>&larr;</a>
    <span class="nav-header"><%= @category.name.upcase %></span>
    <%= button_to 'LOGOUT', destroy_user_session_path, method: :delete, form_class: 'logout-button' %>
  </nav>
  <div class="list-item flex">
    <div class="list-item-info flex amount">
      <span>Total amount for this category: </span><span>$<%= @total_amount || 0.0 %></span>
    </div>
  </div>
  <div class="content-list flex">
    <% if @bills.present? %>
      <% @bills.each do |bill| %>
        <div class="list-item flex">
          <div class="list-item-transaction flex">
            <span class="list-item-name"><%= bill.name %></span>
            <span>$<%= bill.amount %></span>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="list-item flex">
          <div class="new-item-text">
            <span>Add a Transaction</span>
          </div>
        </div>
    <% end %>
  </div>
  <%= button_to "NEW TRANSACTION", new_bill_path, method: :get, class: "bottom-action-button flex white-text", form_class: "bottom-action green-button flex" %>
</div>